main {
    background-color: var(--background-secondary);
    border-radius: 2em;
    padding: 2em;
    max-width: 40em;

   button {
    width: 10em;
    margin-top: 2em;
   }
}

.ml-1 {
  margin-left: 1em;
}

.field {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding-left: 1em;
  input {
    max-width: 20em;
  }
}

textarea {
    background-color: var(--background-secondary);
    border: none;
  box-shadow: none;
}

textarea:focus, textarea:active {
  border: none;
  box-shadow: none;
}