<main>
  <div class="field">
    <label for="to">To:</label>
    <input type="email" id="to" name="to" required />
  </div>
  <div class="field">
    <label for="pos">Position:</label>
    <input type="text" id="pos" name="pos" required />
  </div>
  <div class="area">
    <textarea name="" id="" cols="20" [rows]="line_count">{{ line }}</textarea>
  </div>
  <div class="ml-1">
    <cv-file-uploader filename="tezt.pdf"></cv-file-uploader>
    <button type="button">Send</button>
  </div>
</main>
