.file-uploader {
  button {
    width: 2em;
    margin-right: 1em;
    margin-bottom: 0;
    font-size: xx-large;
    padding: 0em;
  }
  input[type="file"] {
    display: none;
  }
  display: flex;
  align-items: center;
}
