<div class="file-uploader">
  <button type="button" class="secondary" (click)="onUploadClick()">
    <i class="fa fa-file-pdf-o"></i>
    
  </button>
  <a href="" *ngIf="!loading">{{filename}}</a>
  <cv-progress-loader *ngIf="loading"></cv-progress-loader>
  <input type="file" id="file" #fileInput accept="application/pdf" name="file" (change)="onFileSelected($event)" />
</div>
