:host {
    background-color: var(--background-secondary);
    display: flex;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
    margin: 1em 0 0 0;

    p {
        margin-bottom: 0;
        color: #96A7AF;
    }

    h6 {
        margin-bottom: 0.3em;
    }

    .indicator {
    }

    .content{
        flex-grow: 1;
        margin-left: 1em;

        
    }


    .tmstamp{
        text-align: end;
    }
}