<div class="indicator">
  <cv-recent-indicator [success]="item.success"></cv-recent-indicator>
</div>
<div class="content">
  <h6>CV for {{item.position}}</h6>
  <p>{{item.email}}</p>
</div>
<div class="tmstamp">
    <p>{{item.created_at | date : 'longDate' }}</p>
    <p>{{item.created_at | date : 'shortTime' }}</p>
</div>
