<div class="container">
  <div class="layout">
    <div class="header">
      <h1 *ngIf="!isHomePage">{{ currentPage?.name }}</h1>
      <cv-goodluck *ngIf="isHomePage"></cv-goodluck>
      <div class="nav-units">
        <cv-nav-unit
          *ngFor="let page of pages"
          [icon]="page.icon"
          [title]="page.name"
          [active]="currentPage?.uri === page.uri"
          (click)="navigate(page.uri)"
        ></cv-nav-unit>
      </div>
    </div>
    <!-- <button *ngIf="!isHomePage" class="outline">
      <i class="fa fa-arrow-left"></i>
    </button> -->
    <router-outlet></router-outlet>
  </div>
</div>
