.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.layout {
  width: 90%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}

.nav-units {
  display: flex;
}

button {
  width: 3em;
}