<main>
  <form action="">
    <div class="field">
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="first_name" required />
    </div>
    <div class="field">
      <label for="last_name">Last Name</label>
      <input type="text" id="first_name" name="last_name" required />
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input disabled type="email" id="email" name="email" value="test@exmple.com" required />
    </div>
    <div class="field">
      <label for="occupation">I am a</label>
      <input type="text" id="occupation" name="occupation" required />
    </div>
    <div class="field">
      <label for="file">CV</label>
      <cv-file-uploader filename="tezt.pdf"></cv-file-uploader>
    </div>
    
  </form>
</main>