.box {
  padding: 1em;
  background-color: var(--green-deep);
  border-radius: 0.5em;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.fail {
  background-color: var(--red-deep);
  color: var(--background-active);
  border: 1px solid var(--background-active);
}