
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    article {
      border-radius: 1.5em;
    }
    form {
      margin: 2em;
    }

    .acc-switch {
      font-size: 0.8rem;
    }
  }
  
  .login-card {
      margin-right: 2em;
  }
  
  .welcome {
    margin: var(--block-spacing-vertical) 0;
    padding: 6em
  }
  