<div class="main">
  <div class="login-card">
    <article>
      <form>
        <label for="first_name">First name</label>
        <input
          type="text"
          id="first_name"
          name="first_name"
          placeholder="First name"
          required
        />
        <label for="last_name">Last name</label>
        <input
          type="text"
          id="last_name"
          name="last_name"
          placeholder="Last name"
          required
        />
        <label for="email">Email address</label>
        <input
          type="email"
          id="email"
          name="email"ß
          placeholder="Email address"
          required
        />
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Sign Up</button>
        <div class="acc-switch">
          Already have an account?
          <a type="button" routerLink="/login">Sign In</a>
        </div>
      </form>
    </article>
  </div>
  <div class="welcome">
    <h2>Welcome</h2>
    <p>Please Register to continue</p>
  </div>
</div>
