.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4em;

    img {
        height: 20em;
        
    }

    img, h1 {
        margin-bottom: 1em;
    }
  }