<div class="main">
  <div class="login-card">
    <article>
      <form [formGroup]="loginForm">
        <label for="email">Email address</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="username"
          placeholder="Email address"
          [attr.aria-invalid]="invalidUsername"
          required
        />
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          placeholder="Password"
          [attr.aria-invalid]="invalidPassword"
          required
        />
        <button type="submit">Sign In</button>
        <a role="button" routerLink="/register" class="outline full"
          >Create Account</a
        >
      </form>
    </article>
  </div>
  <div class="welcome">
    <h2>Welcome</h2>
    <p>Please Sign in to continue</p>
  </div>
</div>
