.main {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  article {
    border-radius: 1.5em;
  }
  form {
    margin: 2em;
  }
}

.login-card {
    margin-right: 2em;
}

.welcome {
  margin: var(--block-spacing-vertical) 0;
  padding: 6em
}

.full {
  width: 100%;
}