/* You can add global styles to this file, and also import other style files */
body {
    --primary: #40DF9F;
    --primary-hover: #25C685;
    --form-element-active-border-color: var(--primary);

    --background-secondary: #30444E;
    --background-active: #FF565E;

    --green-deep: #286053;
    --red-deep: #623A42;
  }