button {
  all: unset
}

button:hover {
  cursor: pointer;
}

.nav-unit {
  background-color: var(--background-secondary);
  margin-left: 1em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;

  h6 {
    font-size: 0.8rem;
  }
}

.nav-unit:hover {
  transform: scale(1.2);
}

.img-container {
  border: 2px solid #475e69;
  border-radius: 2em;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;

  img {
    all: unset;
    width: 30px;
    height: 30px;
  }
}

.active {
  background-color: var(--background-active);

  h6 {
    color: white;
  }

  .img-container {
    background-color: white;
    border: 2px solid white;
  }
}
